$background: #97d279;
$backgroundcolor:#c0eea9;
$defaultpadding:20px;

@mixin standardtext {
  max-width: 700px;
  text-align: center;
  padding: 20px;
  
}
@mixin header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 20px;
    background-color: #c0eea9;
    height: 120px;
    -webkit-box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 7px -9px rgba(0, 0, 0, 0.75);
}